{
  "database": {
    "driver": "mysql",
    "host": "127.0.0.1",
    "port": 3306,
    "name": "database_name",
    "username": "root",
    "password": "password",
    "server_id": 100
  },
  "mysql_dump_path": "path_to_mysqldump_binary",
  "world_database_path": "world.sql",
  "elastic": {
      "address": "http://localhost:9200",
      "username": "elastic",
      "password": "elastic"
  }

}
